html:not([night]) {
  --navbar-ctn-bg: rgba(240, 242, 245, .8);
  --code-bg-color: rgba(0, 0, 0, .08);
  --card-bg: white;
  --text-color: black;
  --bg-color: var(--darker-white);
  --table-head-bg: rgba(228, 228, 228, 0.8);
  --table-head-fx: none;
}

html[night] {
  --navbar-ctn-bg: rgba(24, 26, 27, .8);
  --card-bg: var(--navbar-ctn-bg);
  --code-bg-color: rgba(255, 255, 255, .08);
  --text-color: white;
  --bg-color: var(--darker-night);
  --table-head-bg: rgba(0, 0, 0, 0.1);
  --table-head-fx: var(--glass-fx);
}

:root {
  --glass-fx: blur(5px);
  --main-color: #C2185B;
  --main-color-alt: #df1c6a;
  --red: #da1b60;
  --green: #12DD12;
  --darker-green: #0F9B0F;
  --night: #5a5a5a;
  --darker-night: #181A1B;
  --darker-white: #f0f2f5;
  --scrollbar-thickness: 10px;
  --scrollbar-radius: 0px;
  --btnHoverRad: 5px;
  --blurIntense: 3px;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

html[night]:not(.plyr):not(.KHPPlaylistContainer) ::placeholder {
  color: #bab5ab;
  opacity: 0.5 !important;
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) ::selection {
  background-color: #005ccc;
  color: #ffffff;
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) ::-moz-selection {
  background-color: #005ccc;
  color: #ffffff;
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) body {
  background-color: var(--darker-night);
  color: var(--darker-white);
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) .download-section-ctn {
  border: 1px solid var(--night);
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) input:-webkit-autofill,
html[night]:not(.plyr):not(.KHPPlaylistContainer) textarea:-webkit-autofill,
html[night]:not(.plyr):not(.KHPPlaylistContainer) select:-webkit-autofill {
  background-color: var(--main-color-alt) !important;
  color: var(--darker-white) !important;
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) table,
html[night]:not(.plyr):not(.KHPPlaylistContainer) hr,
html[night]:not(.plyr):not(.KHPPlaylistContainer) .border-bottom,
html[night]:not(.plyr):not(.KHPPlaylistContainer) .border-top,
html[night]:not(.plyr):not(.KHPPlaylistContainer) .card {
  border-color: var(--night) !important;
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) .navbarContainer .nav-card {
  border: 1px solid var(--night);
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) .ios-switch i::before {
  background-color: var(--night);
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) .standard-btn:hover .buttonInnerAlter {
  background-color: var(--darker-night);
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) .table td,
html[night]:not(.plyr):not(.KHPPlaylistContainer) .table tr {
  color: white;
}
html[night]:not(.plyr):not(.KHPPlaylistContainer) .wrapper-sticky table tr.skt-sticky-bottom td, html[night]:not(.plyr):not(.KHPPlaylistContainer) .wrapper-sticky table tr.skt-sticky-bottom th, html[night]:not(.plyr):not(.KHPPlaylistContainer) .wrapper-sticky table tr.skt-sticky-top td, html[night]:not(.plyr):not(.KHPPlaylistContainer) .wrapper-sticky table tr.skt-sticky-top th {
  background-color: rgba(24, 26, 27, 0.8);
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .card .card-title a {
    font-size: 20px;
  }
}
* {
  font-family: Roboto;
}

::-webkit-scrollbar {
  width: var(--scrollbar-thickness);
  height: var(--scrollbar-thickness);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-radius);
  -webkit-border-radius: var(--scrollbar-radius);
  background: var(--main-color);
  width: var(--scrollbar-thickness) !important;
  height: var(--scrollbar-thickness) !important;
}

::-webkit-scrollbar-track {
  background: rgba(90, 90, 90, 0.4);
  border-radius: var(--scrollbar-radius);
  -webkit-border-radius: var(--scrollbar-radius);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background-color: #F0F2F5;
}

img {
  width: 100%;
  height: auto;
}

.card {
  border-radius: calc(var(--btnHoverRad) * 2) !important;
  overflow: hidden;
  border: solid 1px;
  background: var(--card-bg);
}
.card .card-title,
.card .card-subtitle {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card .card-title a {
  font-family: "Google Sans";
  text-align: center;
}

p {
  text-align: justify;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h3,
h3 * {
  font-weight: bold;
  font-family: "Google Sans";
}

#disqus_thread {
  margin-top: 1em;
}

body > main > div > ul.pagination {
  justify-content: center;
}

a {
  color: var(--main-color);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: color;
}
a:hover {
  text-decoration: none;
  color: var(--main-color-alt);
}

.table {
  overflow: scroll;
  width: 100%;
  max-height: 70vh;
}
.table td,
.table th {
  font-weight: normal;
  vertical-align: middle !important;
  border: 2px dashed var(--main-color);
  outline: none !important;
}
.table td {
  text-align: left;
}
.table th {
  text-align: center;
  position: sticky;
}
.table thead th,
.table thead td {
  font-weight: bold;
  background-color: var(--table-head-bg) !important;
  backdrop-filter: var(--table-head-fx);
  -webkit-backdrop-filter: var(--table-head-fx);
  border: 2px dashed var(--main-color) !important;
}
.table table {
  border-collapse: collapse;
  min-width: calc(648px - var(--scrollbar-thickness));
}
.table .wrapper-sticky {
  border: 0;
  overflow: visible;
}

div,
html,
body,
.navbar,
input,
tr {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: background-color;
}

input {
  outline: 0;
}

div#disqus_thread {
  background: var(--darker-night) !important;
  padding: 1em !important;
  border-radius: 5px !important;
}

.browser-view {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.plyr {
  --plyr-color-main: var(--main-color);
}

code {
  background-color: var(--code-bg-color);
  padding: 1px 3px;
}

@media screen and (max-width: 991px) {
  .card-columns {
    column-count: 2;
  }
}
.navbarContainer {
  top: 0;
  position: sticky;
  z-index: 100;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-color: var(--navbar-ctn-bg);
  backdrop-filter: var(--glass-fx);
  -webkit-backdrop-filter: var(--table-head-fx);
}
.navbarContainer .navbar {
  display: flex;
  justify-content: space-between;
}
.navbarContainer .navbar .navbar-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbarContainer .nav-card {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 0 5px 12px;
  border-radius: 8px;
  background-color: rgba(194, 24, 91, 0.25);
  margin: 5px 10px;
}
.navbarContainer .nav-card .label {
  width: fit-content;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 5px;
}
.navbarContainer .nav-card .navbar-icon {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  margin-left: 0;
  justify-content: space-evenly;
}
.navbarContainer .nav-card .navbar-icon a {
  margin: 0 3px;
}
.navbarContainer .nav-card .navbar-icon a img {
  height: 50px;
  width: auto;
  border-radius: 8px;
}
.navbarContainer .darkModeToggleCtn {
  transform: scale(0.8);
  padding-left: 0;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarContainer .darkModeToggleCtn .toggleWrapper {
  transform: translate3d(0, 0, 0);
}
.navbarContainer .darkModeToggleCtn .toggleWrapper input {
  display: none;
}
.navbarContainer .darkModeToggleCtn .toggle {
  cursor: pointer;
  top: -50px;
  width: 90px;
  height: 50px;
  background-color: #83D8FF;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  margin-bottom: 0;
}
.navbarContainer .darkModeToggleCtn .toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #FFCF96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}
.navbarContainer .darkModeToggleCtn .toggle__handler .crater {
  position: absolute;
  background-color: #E8CDA5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}
.navbarContainer .darkModeToggleCtn .toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}
.navbarContainer .darkModeToggleCtn .toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}
.navbarContainer .darkModeToggleCtn .toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}
.navbarContainer .darkModeToggleCtn .star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}
.navbarContainer .darkModeToggleCtn .star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}
.navbarContainer .darkModeToggleCtn .star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}
.navbarContainer .darkModeToggleCtn .star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}
.navbarContainer .darkModeToggleCtn .star--4,
.navbarContainer .darkModeToggleCtn .star--5,
.navbarContainer .darkModeToggleCtn .star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.navbarContainer .darkModeToggleCtn .star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}
.navbarContainer .darkModeToggleCtn .star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}
.navbarContainer .darkModeToggleCtn .star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle {
  background-color: #749DD6;
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle:before {
  color: #749ED7;
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle:after {
  color: #ffffff;
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle .toggle__handler {
  background-color: #FFE5B5;
  transform: translate3d(40px, 0, 0) rotate(0);
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle .star--4,
.navbarContainer .darkModeToggleCtn input:checked + .toggle .star--5,
.navbarContainer .darkModeToggleCtn input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.navbarContainer .darkModeToggleCtn input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.navbarContainer a.navbar-brand {
  font-family: Google Sans;
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
}
.navbarContainer button.navbar-toggler {
  border: none;
  background-color: transparent !important;
}
.navbarContainer button.navbar-toggler:focus {
  outline: none;
}
.navbarContainer button.navbar-toggler i {
  color: var(--main-color-alt);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: color, transform;
}
.navbarContainer button.navbar-toggler i:hover {
  transform: scale(1.1);
}
.navbarContainer button.navbar-toggler i:active {
  transform: scale(0.95);
}
.navbarContainer .notification {
  padding: 0.5em;
  margin-bottom: 0;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .direct-link-grid-view .an-episode {
    width: 220px;
    margin: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .direct-link-grid-view .an-episode {
    width: 240px;
    margin: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .direct-link-grid-view .an-episode {
    width: 200px;
    margin: 5px;
  }
}
@media screen and (min-width: 509px) and (max-width: 575px) {
  .direct-link-grid-view .an-episode {
    width: 200px;
    margin: 5px;
  }
}
@media screen and (max-width: 508px) {
  .direct-link-grid-view .an-episode {
    margin: 5px 0;
  }
}
.download-section-ctn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--btnHoverRad);
  box-shadow: 0 2px 10px -7px black;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: box-shadow;
}
.download-section-ctn:hover {
  box-shadow: 0 2px 10px -5px black;
}
.download-section-ctn .title {
  padding: 1em;
  background-color: #445f83;
  color: white;
  margin-bottom: 0;
  text-transform: uppercase;
  border-radius: var(--btnHoverRad) var(--btnHoverRad) 0 0;
}
.download-section-ctn .links-container {
  padding: 1em;
  text-align: center;
}

.direct-link-grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.direct-link-grid-view .an-episode {
  padding: 0.5em;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.direct-link-grid-view .an-episode .episode-image {
  position: relative;
  width: 100%;
  height: 150px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}
.direct-link-grid-view .an-episode .episode-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition-property: transform, filter;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.direct-link-grid-view .an-episode .episode-image:hover span {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}
.direct-link-grid-view .an-episode .episode-image:hover img {
  transform: scale(1.1);
}
.direct-link-grid-view .an-episode .episode-image span {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition-property: opacity, background;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.direct-link-grid-view .an-episode .episode-image span i {
  margin: auto;
  font-size: 3em;
  color: white;
}
.direct-link-grid-view .an-episode .title {
  font-weight: bold;
  margin-top: 10px;
}
.direct-link-grid-view .an-episode .custom-hr {
  width: 95%;
  height: 1px;
  background-color: grey;
  margin: 10px auto;
}

.ios-switch {
  --inactive-bg: rgb(201, 201, 201);
  --active-bg: var(--main-color);
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.ios-switch i {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  background-color: var(--inactive-bg);
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.ios-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: var(--inactive-bg);
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.ios-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.ios-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.ios-switch input {
  display: none;
}
.ios-switch input:checked + i {
  background-color: var(--active-bg);
}
.ios-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.ios-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}
.ios-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.standard-btn {
  border-radius: calc(var(--btnHoverRad) + 2px);
  display: inline-block;
  color: white;
  background: var(--main-color);
  height: 40px;
  padding: 3px;
  cursor: pointer;
  transition-property: transform;
  overflow: hidden;
  margin: 5px 6px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
}
.standard-btn:hover {
  transform: scale(1.1);
}
.standard-btn:active {
  transform: scale(0.95);
}
.standard-btn:active {
  transform: scale(1);
}
.standard-btn:hover .buttonInnerSlide {
  margin-top: -34px;
}
.standard-btn:hover .buttonInnerAlter {
  background-color: white;
  color: var(--main-color);
}
.standard-btn .buttonInnerAlter {
  border-radius: var(--btnHoverRad);
  color: white;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: color;
}
.standard-btn a {
  color: white;
}
.standard-btn .buttonInner,
.standard-btn .buttonInnerSlide,
.standard-btn .buttonInnerAlter {
  line-height: 34px;
  padding: 0 10px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: margin, color, background-color;
}

.toggle-elem-ctn {
  display: flex;
  margin: 5px 12px;
  align-items: center;
}

.nsfw-alert {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.nsfw-alert .content {
  color: yellow;
  background-color: red;
  padding: 1em;
  width: fit-content;
  max-width: 90%;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1em;
  font-family: Google Sans, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@-moz-keyframes rainbowt {
  0% {
    color: orange;
  }
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
@-webkit-keyframes rainbowt {
  0% {
    color: orange;
  }
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
@-o-keyframes rainbowt {
  0% {
    color: orange;
  }
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
@keyframes rainbowt {
  0% {
    color: orange;
  }
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
.rainbow-text {
  -webkit-animation: rainbowt 10s infinite;
  -ms-animation: rainbowt 10s infinite;
  animation: rainbowt 10s infinite;
}

.nowarp {
  white-space: nowrap;
}

.interactable {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.interactable:hover {
  box-shadow: 0 2px 10px -5px black;
}
.interactable:hover {
  transform: scale(1.05);
}
.interactable:active {
  transform: scale(0.95);
}

.text-center {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.favicon img {
  height: 20px;
  width: auto;
}

img.favicon {
  height: 20px;
  width: auto;
}

khplayer-container {
  display: block;
}

.alert-container {
  width: fit-content;
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0.25em;
  right: 0.5em;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.alert-container .inneralert-container {
  display: flex;
  flex-direction: column;
}
.alert-container .inneralert-container .alert {
  color: yellow;
  width: fit-content;
  background-color: rgba(255, 0, 0, 0.8);
  margin: 0.25em;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: var(--glass-fx);
  -webkit-backdrop-filter: var(--glass-fx);
}

hr {
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 2px;
}
hr.half {
  width: 50%;
}
hr.left {
  margin-left: 0;
}
hr.three-quarter {
  width: 75%;
}
hr.dotted {
  border-top: 5px dotted rgba(0, 0, 0, 0.3);
  border-bottom: 0;
}

i.spaceh5,
span.spaceh5 {
  margin: 0 2.5px;
}
i.spaceh10,
span.spaceh10 {
  margin: 0 5px;
}

.spacev10 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.spacev5 {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.lr-margin {
  margin: 0 4px;
}

[hide=""] {
  display: none !important;
}

footer {
  padding: 2.5rem 0;
}

blockquote {
  border-left: 2px solid #6c757d;
  padding-left: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figure > img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

div.card-columns > div.card > div.card-body > h1.card-title {
  font-size: 1.5rem;
}
